.logo_de_marca{
    width: 70px;
}

.linkText{ 
    color: #4577bb ;
    text-decoration:none; 
}

.linkText:hover{ 
    color: black ;
}

.navegacion{
    background-color: white;
}

.justify-content-end{
    text-align: left;

}

.navbar  a {
    font-size: 18px;
}